{% extends "collection/read_base.html" %}

{% block subtitle %}{{ h.get_translated_or_default_locale(c.group_dict, 'title') }}{% endblock %}

{% block primary_content_inner %}
  <h1 class="page-heading">{% block page_heading %}{{ h.get_translated_or_default_locale(c.group_dict, 'title') }}{% endblock %}</h1>
  {% block group_description %}
    {% if c.group_dict.description %}
      {{ h.render_markdown(h.get_translated_or_default_locale(c.group_dict, 'description')) }}
    {% endif %}
  {% endblock %}
  {% block groups_search_form %}
    {% set facets = {
      'fields': fields_grouped,
      'search': search_facets,
      'titles': facet_titles,
      'translated_fields': translated_fields,
      'remove_field': remove_field }
            %}

  {% set sorting = [
    (_('Last Created'), 'date_released desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false),
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'date_updated desc') ]
  %}
    {% snippet 'snippets/search_form.html', form_id='group-datasets-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=c.fields %}
  {% endblock %}
  {% block packages_list %}
    {% if c.page.items %}
      {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}
<div class="filters">
  <h2 class="filter-list-heading">{{_('Filter results')}}</h2>
  {% for facet in facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
  {% endfor %}
</div>
{% endblock %}